<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>

<div th:each="book : ${book}">
    <a
            th:href="@{/book/{id}(id=${book.getId()})}"
       th:text="${book.getTitle() + ', ' + book.getAuthorName() + ', ' + book.getDate()}">user</a>
</div>

<br/>
<hr/>
<a href="/book/new">Create new book</a>

<br/>
<hr/>
<a href="/book?page=0">1</a>
<a href="/book?page=1">2</a>
<a href="/book?page=2">3</a>

<br/>
<hr/>
<a href="/book/search">Search book</a>
<br/>
<hr/>
<a href="/people">Go to people</a>

</body>
</html>





